<!-- Title & Subtitle -->
<div class="flex-1 mx-auto p-8">
  <p class="text-4xl font-bold text-center text-grey-200">Hi, I’m Bento.</p>
  <p class="text-4xl font-bold text-center text-grey-200">I'm a developer. I build websites. That's all.</p>
</div>

<!-- Projects -->
<h2 class="text-3xl font-bold text-grey-200 p-10">Here are my projects</h2>

<div class="flex-1 mx-auto p-12 bg-red">

  <div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-black text-xl mb-2">Monka Project</div>
        <p class="text-gray-700 text-base">
          My final project for the bootcamp <em>The Hacking Project</em> : Monka, a web-app aiming at making french entrepreneur's life easy by dealing their facturation work.
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Ruby on Rails</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Heroku</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Bootstrap</span>
      </div>
    </div>

  </div>

</div>
